.add.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}
.add__line {
    display: flex;
    flex-direction: column;
}
.add__img {
    width: 541px;
    margin: 0 auto;
}
.add__img:last-child {
    padding-bottom: 30px;
}
.add__location {
    position: relative;
    padding: 20px 15px 20px 10px;
    background: #ffcc01;
    display: inline-block;
}
.location-1 {
    left: 100px;
    bottom: 50px;
}
.location-2 {
    left: 62px;
    bottom: 50px;
}
.add__location p {
    position: relative;
    font-size: 16px;
    padding-left: 32px;
}
.add__location p::before {
    position: absolute;
    content: "";
    background: url("../img/location.svg");
    width: 10px;
    height: 20px;
    top: -2px;
    left: 10px;
}
.add__text h3 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 26px;
}
.add__text p {
    line-height: 30px;
}
.add__text h3,
.add__text p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.add__text:last-of-type h3 {
    padding-top: 40px;
}
.add__show-more {
    background: #1f373d;
    color: #fff;
    font-size: 16px;
    padding: 20px 58px;
    width: 70%;
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer;
}
.add__show-more:hover {
    background: #335d68;
}

@media screen and (min-width: 768px) {
    .add__img {
        height: 350px;
    }
    .add__show-more {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .add__line {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }
    .add__line:not(:last-child) {
        padding-bottom: 40px;
    }
    .add__img {
        flex: 0 0 50%;
        padding-right: 30px;
        height: 300px;
    }
    .add__line:last-child .add__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 253px;
    }
    .add__text:last-of-type h3 {
        padding-top: 30px;
    }
    .add__text h3 {
        margin-bottom: 10px;
    }
    .location-1 {
        left: 80px;
        bottom: 34px;
    }
    .location-2 {
        left: 240px;
    }
    .line-right .add__img {
        order: 1;
    }
    .add__show-more {
        margin: 0;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .add__line:last-child .add__text {
        height: 263px;
    }
}

@media screen and (min-width: 1100px) {
    .add.wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .add.wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .add__line:last-child .add__img,
    .add__line:last-child .add__text {
        height: 286px;
    }
    .add__show-more {
        width: 50%;
    }
}