footer {
    background: #1f373d;
    color: #fff;
}
footer .wrapper {
    padding: 50px 15px;
}
.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__logo h3,
.footer__link h4 {
    font-size: 25px;
    line-height: 28px;
    text-align: center;
}
.footer__search {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.footer__search input[type=text] {
    width: 100%;
    height: 50px;
    color: #919eb1;
    font-size: 16px;
    padding-left: 27px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 94%;
    border: none;
    cursor: pointer;
}
hr {
    opacity: 0.3;
    margin-top: 47px;
    margin-bottom: 70px;
    width: 100vw;
    margin-left: -15px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__link.link-logo {
    margin-right: 26%;
}
.footer__link:not(.link-logo) {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    min-width: 90px;
}
.footer__link p {
    color: #919eb1;
    padding-bottom: 35px;
    text-transform: uppercase;
}
.footer__link a {
    padding-bottom: 20px;
}
.footer__link a:hover {
    opacity: 0.4;
}

@media screen and (min-width: 576px) {
    .footer__link.link-logo {
        margin-right: 14%;
    }
    .footer__search input[type=text] {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    footer .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer__block {
        flex-direction: row;
    }
    .footer__logo h3 {
        text-align: left;
    }
    .footer__search {
        padding-top: 0;
        width: 300px;
    }
    .footer__search input[type="text"] {
        width: 100%;
    }
    hr {
        margin-left: -50px;
    }
}

@media screen and (min-width: 1100px) {
    footer .wrapper {
        margin: 0 auto;
    }
}