.services__title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
}
.services__text {
    margin-bottom: 10px;
}
.services__title,
.services__text {
    padding-left: 15px;
    padding-right: 15px;
}
.services__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.services__img {
    width: 100%;
    height: auto;
}
.services__img img {
    display: block;
    margin: 0 auto;
}
.services__block {
    padding: 30px 15px;
}
.services__block h4 {
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 25px;
}
.services__block p {
    line-height: 30px;
}
.services__block p:not(:last-of-type) {
    margin-bottom: 40px;
}

@media screen and (min-width: 576px) {
    .services__title {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 768px) {
    .services__title, .services__text {
        padding-left: 30px;
        padding-right: 30px;
    }
    .services__img img {
        margin: 0 auto;
    }
    .services__block {
        padding: 40px 30px;
    }
}

@media screen and (min-width: 992px) {
    .services__title, .services__text {
        padding-left: 50px;
        padding-right: 50px;
    }
    .services__text:last-of-type {
        padding-bottom: 45px;
    }
    .services__container {
        flex-direction: row;
        margin-bottom: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .services__img {
        flex: 0 0 60%;
        padding-right: 30px;
    }
    .services__block {
        padding: 0;
    }
    .services__block p:not(:last-of-type) {
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .services.wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .services__container {
        margin-bottom: 100px;
    }
    .services__title {
        margin-top: 140px;
        margin-bottom: 40px;
    }
}